/* CSS GENERAL */

body {
    font-family:'Lucida Grande';
}

h1 {
    font-family: 'Didot'; 
    font-size: 40px; 
    font-weight: bold;
    margin: 1em;
}

.site-title {
    display:flex;
    justify-content: center;
}

/* NAVBAR */
.navbar {
    background-color: #9ba597;
    height: 120px;
}

.navbar-brand {
    height: 80px;
    margin: 15px 0;
    padding: 0;
}

a {
    color: black !important;
}

a.active {
    color: #546252 !important;
}

a:hover, a:active {
    color: #546252 !important;
}

img {
    margin: 0 0 2em 0;
}

/* POSTMAN FèR SERVERVALIDIERUNG */

/* FORM STYLING */

.spacer {
    margin: 1em 0 0 0;
}

.spacer-big {
    margin: 4em 0;
}

/*SELECT*/
select {
    border: 1px #9ba597 solid !important;
    border-radius: 0px !important;
}

/*TEXTEINGABEN*/
input[type=text] {
    border: 1px #9ba597 solid;
    border-radius: 0px;
}

input[type=text]:focus {
    border: 1px #9ba597 solid;
    border-radius: 0px;
}

input[type=email] {
    border: 1px #9ba597 solid;
    border-radius: 0px;
    width: 100%;
}

input[type=email]:focus {
    border: 1px #9ba597 solid;
    border-radius: 0px;
    width: 100%;
}

/* CHECKBOX */
.col-form-label {
    margin: 2em 0 0 0;
}

input[type=radio] {
    width:15px; 
    height:15px;
    border: 1px #9ba597 solid;
    transition: .3s background-color;
}
    
input[type=radio]:hover {
    background-color: #9ba597;
  }
  
input[type=radio]:checked {
    background-color: #9ba597;
    border: 1px #9ba597 solid;
  }

.form-check {
    margin:0 7em 0 0;
}

.btn {
    padding: 5px;
    border: 1px #9ba597 solid !important;
    border-radius: 0px;
    width: 100px;
    height: 40px;
}

.btn:hover {
    background-color: #9ba597 !important;
}


button[type=submit]:hover {
    background-color: #9ba597;
}

.btn:checked {
    background-color: #9ba597 !important;
}